body {
    background: linear-gradient(135deg, #000000, #111111);
    color: #fafafa;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
nav {
    display: flex;
    justify-content: center;
    background-color: #333333;
}
nav a {
    color: #ffffff;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}
nav a:hover {
    background-color: #575757;
}
.container {
    padding: 20px;
    text-align: center;
}
.car-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    text-align: left;
    transition: transform 0.2s, box-shadow 0.2s;
     color: black;
}
.car-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.car-card img {
    max-width: 100%;
    border-radius: 10px;
}


